<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{'timeseries.select-provider.header' | translate}}
    </ion-title>
    <ion-buttons start *ngIf="selectedProvider">
      <button ion-button (click)="dismiss()">
        <span ion-text showWhen="ios">{{'controls.cancel' | translate}}</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <mobile-provider-selector [datasetApiList]="datasetApiList" [supportStations]="supportStations" [selectedService]="selectedProvider"
    (onProviderSelected)="providerSelected($event)"></mobile-provider-selector>
</ion-content>
