<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{'timeseries.map-selection.header' | translate}}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="openProviderSelection()">
        {{'timeseries.map-selection.provider' | translate}}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="map-view">
  <n52-station-map-selector *ngIf="selectedProvider" [mapId]="'timeseries'" [serviceUrl]="selectedProvider.providerUrl" [filter]="stationFilter"
    (onSelected)="onStationSelected($event)" [cluster]="true" (onContentLoading)="onMapLoading($event)"></n52-station-map-selector>
  <div class="loading-overlay" *ngIf="loading">
    <ion-spinner item-start name="circles"></ion-spinner>
    <span>{{'timeseries.map-selection.loading' | translate}}...</span>
  </div>
</ion-content>
