<ion-list>
  <ion-list-header *ngIf="loadingCount" text-center>
    <span>Requesting {{loadingCount}} services...</span>
  </ion-list-header>
  <ion-item *ngFor="let provider of providers">
    <ion-label>
      <h2>{{provider.label}}</h2>
      <p>{{provider.type}}, {{provider.version}}</p>
      <p *ngIf="provider.serviceUrl">{{'provider-selector.service-url' | translate}}: {{provider.serviceUrl}}</p>
      <p>
        <span *ngIf="provider.quantities.stations">{{'provider-selector.stations' | translate}}: {{provider.quantities.stations}}</span>
        <span *ngIf="provider.quantities.platforms">{{'provider-selector.platforms' | translate}}: {{provider.quantities.platforms}}</span>
        <span *ngIf="provider.quantities.timeseries">{{'provider-selector.timeseries' | translate}}: {{provider.quantities.timeseries}}</span>
        <span *ngIf="provider.quantities.datasets">{{'provider-selector.datasets' | translate}}: {{provider.quantities.datasets}}</span>
        <span>{{'provider-selector.phenomena' | translate}}: {{provider.quantities.phenomena}}</span>
      </p>
    </ion-label>
    <ion-radio checked="{{isSelected(provider)}}" (ionSelect)="selectProvider(provider)"></ion-radio>
  </ion-item>
</ion-list>
