<ion-list>
  <ion-list-header *ngIf="loadingCount" text-center>
    <span translate [translateParams]="{loadingCount: loadingCount}">service-selector.loading</span>
  </ion-list-header>
  <ion-item *ngFor="let service of services">
    <ion-label>
      <h2>{{service.label}}</h2>
      <p>{{service.type}}, {{service.version}}</p>
      <p *ngIf="service.serviceUrl">{{'service-selector.service-url' | translate}}: {{service.serviceUrl}}</p>
      <p>
        <span *ngIf="service.quantities.stations">{{'service-selector.stations' | translate}}: {{service.quantities.stations}}</span>
        <span *ngIf="service.quantities.platforms">{{'service-selector.platforms' | translate}}: {{service.quantities.platforms}}</span>
        <span *ngIf="service.quantities.timeseries">{{'service-selector.timeseries' | translate}}: {{service.quantities.timeseries}}</span>
        <span *ngIf="service.quantities.datasets">{{'service-selector.datasets' | translate}}: {{service.quantities.datasets}}</span>
        <span>{{'service-selector.phenomena' | translate}}: {{service.quantities.phenomena}}</span>
      </p>
    </ion-label>
    <ion-radio checked="{{isSelected(service)}}" (ionSelect)="selectService(service)"></ion-radio>
  </ion-item>
</ion-list>
